# ==========================================
# CONFIGURACIÓN DE ENTORNO - PROYECTO FLUXLAB
# ==========================================

# Servidor y API (Si conectan el juego a un backend o base de datos)
API_URL=https://api.tu-servidor.com/v1
API_KEY=tu_api_key_aqui

# Entorno de desarrollo (development / production)
ENVIRONMENT=development

# Configuración de Analytics o Servicios Cloud (ej. Unity Gaming Services, Firebase)
FIREBASE_API_KEY=tu_firebase_key
UNITY_SERVICES_PROJECT_ID=tu_project_id_de_unity